@import "../default/mixins.less";



/* общие стили (начало) */

//@import "имя_модуля.less";



/*-------------------------------------- 320 --------------------------------------*/

a
{
	@color: blue;
	color: @color;
	text-decoration: underline;

	&:visited { color: @color }
	&:hover { color: lighten(@color, 15%) }
	&:active { color: lighten(@color, 30%) }
}

body
{
}









/*-------------------------------------- 480 --------------------------------------*/
@media screen and (min-width: 480px)
{
	
}







/*-------------------------------------- 768 --------------------------------------*/
@media screen and (min-width: 768px) 
{
	
}







/*-------------------------------------- 1024 -------------------------------------*/
@media screen and (min-width: 1024px)
{
	
}



/* общие стили (конец) */