.jcarousel-wrapper {
  position: relative;
  width: 200px;
  height: 100px;
}
.jcarousel-wrapper .jcarousel {
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 100px;
}
.jcarousel-wrapper .jcarousel-list {
  position: relative;
  width: 200px;
  height: 100px;
}
.jcarousel-wrapper .jcarousel-list > li {
  float: left;
  width: 200px;
  height: 100px;
}
.jcarousel-wrapper .jcarousel-control-prev,
.jcarousel-wrapper .jcarousel-control-next {
  position: absolute;
  top: 50%;
}
.jcarousel-wrapper .jcarousel-control-prev {
  left: 0;
}
.jcarousel-wrapper .jcarousel-control-next {
  right: 0;
}
.jcarousel-wrapper .jcarousel-pagination {
  width: 100%;
  text-align: center;
}
