.action-button,
a.action-button,
input.action-button,
button.action-button {
  -webkit-appearance: none;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  height: 32px;
  padding: 0 30px;
  border: 0;
  font-size: 16px;
  line-height: 32px;
  font-weight: normal;
  text-decoration: none;
  white-space: nowrap;
  color: white ;
  background: #456;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  position: relative;
  left: 0;
  top: 0;
}
.action-button:hover,
a.action-button:hover,
input.action-button:hover,
button.action-button:hover {
  background: #586e85;
  color: white;
}
.action-button:active,
a.action-button:active,
input.action-button:active,
button.action-button:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  left: 1px;
  top: 2px;
}
