/* Подсказки (начало) */
	
[data-tooltip]
{
	position: relative;
	cursor: help;
	border-bottom: 1px dotted;
}

/* тело подсказки */
[data-tooltip]:before
{
	content: attr(data-tooltip);
	display: none;
	position: absolute;
	left: 50%;
	bottom: 100%;
	margin-bottom: 0px;
	margin-left: -125px;
	padding: 10px;
	width: 250px;
	background: white;
	color: black;
	white-space: normal;
	font-size: auto;
	line-height: normal;
	text-shadow: none;
	border-radius:5px;
	box-shadow: 0 1px 4px rgba(0,0,0,0.5);
	box-sizing: border-box;
}

/* хвостик */
[data-tooltip]:after
{
	display: none;
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-bottom: -8px;
	margin-left: -10px;
	width: 15px;
	height: 15px;
	background: white;
	border-style: none solid solid none;
	border-width: 0 1px 1px 0;
	border-color: rgba(50,50,50,0.5);
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	        transform: rotate(45deg);
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after
{
	display: block;
}
/* Подсказки (конец) */




/* 



box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
    content: "";
    display: none;
    height: 10px;
    left: 50%;
    margin-bottom: -10px;
    margin-left: 20px;
    position: absolute;
    transform: rotate(45deg);
    width: 10px; */