
/* ----------------------- Дополнительный ресет -----------------*/

/* ресет отступов */ body, ul, ol, li, h1, h2, h3, h4, h5, p, dl, dt, dd { padding: 0; margin: 0; }
/* сбрасываем жир */ h1, h2, h3, h4, h5 { font-weight: normal; }
/* занять всю высоту */ html, body { height: 100%; }
/* ресет списков */ li { list-style-position:inside; /*list-style-type:none;*/ }
/* адаптация для всех изображений */ /*img { max-width: 100%; }*/
/* убираем подсветку при клике */ /** { -webkit-tap-highlight-color:rgba(0,0,0,0); }*/

/* ресет полей ввода */
input, textarea { box-shadow: none; outline: none; padding: 0; border-radius: 0; -ms-touch-action: manipulation; touch-action: manipulation; }
input::-ms-clear { width: 0; height: 0; }
[type=text], [type=tel], [type=number], [type=email], [type=date], [type=submit] textarea { -webkit-appearance: none; }

/* убираем плэйсхолдеры, когда курсор в поле */
:focus:-moz-placeholder            { color: transparent; }
:focus::-moz-placeholder           { color: transparent; }
:focus:-ms-input-placeholder       { color: transparent; }
:focus::-webkit-input-placeholder  { color: transparent; }

/* масштабирование контента + панели */
@media screen and (min-width: 0px)    { html { font-size: 8px;  } }
@media screen and (min-width: 360px)  { html { font-size: 9px; } }
@media screen and (min-width: 480px)  { html { font-size: 9px; } }
@media screen and (min-width: 600px)  { html { font-size: 10px; } }
@media screen and (min-width: 720px)  { html { font-size: 10px; } }
@media screen and (min-width: 768px)  { html { font-size: 10px; } }
@media screen and (min-width: 1024px) { html { font-size: 10px; } }
@media screen and (min-width: 1280px) { html { font-size: 10px; } }
@media screen and (min-width: 1400px) { html { font-size: 10px; } }
@media screen and (min-width: 1680px) { html { font-size: 10px; } } /* электронный каталог */

/* масштабирование только панели */
@media only screen and (min-width: 320px)  { #left-panel { font-size: 150%; } }
@media only screen and (min-width: 768px)  { #left-panel { font-size: 120%; } }
@media only screen and (min-width: 1024px) { #left-panel { font-size: 110%; } }
@media only screen and (min-width: 1280px) { #left-panel { font-size: 120%; } }
@media only screen and (min-width: 1680px) { #left-panel { font-size: 120%; } } /* электронный каталог */


/* ----------------------- Универсальные модификаторы -----------------*/

._hidden          { display: none; }
._float-right     { float: right;  }
._float-left      { float: left;   }
._underline       { text-decoration: underline; }
._uppercase       { text-transform: uppercase; }
._lowercase       { text-transform: uppercase; }
._nowrap          { white-space: nowrap; }
._vertical-center { width: 100%; height: 100%; text-align: center; font-size: 0; } 
._vertical-center:before {content: ''; display: inline-block; width: 0; height: 100%; vertical-align: middle; } 
._vertical-center > * {display: inline-block; vertical-align: middle; font-size: medium; max-width: 100%; }
._clearfix:after  { clear: both; content: ""; display: block; width: 100%; }
._relative        { position: relative; }
.text-center,
._text-center     { text-align: center; }
._text-right      { text-align: right; }
._small-caps      { font-size: 1rem; text-transform: uppercase; }


// TODO: поставить fx в начало

._bg-fx {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 120%;
	background-color: #111;
	transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
	&:hover { background-size: 115%; }
}

._scale-fx {
	transition: 0.2s transform;
	&:hover { transform: scale(1.05); }
}

/* паддинги */
._pad-lr { padding-left: 1.9rem; padding-right: 1.9rem }
._pad-t { padding-top: 1.9rem }
._pad-b { padding-bottom: 1.9rem }

/* скомпенсировать горизонтальные отступы */
._unshift { margin-left: -1.9rem; margin-right: -1.9rem }

/* выстроить блоки горизонтально по ширине */
._block-justify {
	text-align: justify;
	/*text-align-last: justify;*/
	line-height: 0;
}
._block-justify > * {
	display: inline-block;
	/*vertical-align: top;*/
	vertical-align: middle;
	line-height: normal;
}
._block-justify:after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}

/* выстроить блоки горизонтально вплотную */
._block-nowrap {
	white-space: nowrap;
	font-size: 0;
}
._block-nowrap > * {
	white-space: normal;
	display: inline-block;
	vertical-align: top;
	font-size: initial;
}

/* цвет */
._text-white  { color: #fff; }
._text-black  { color: #1b3138; }
._text-red    { color: #dc5562; }
._text-cyan   { color: #11a8ab; }
._text-blue   { color: #398de3; }
._text-violet { color: #8e5cd4; }
._text-orange { color: #faa33a; }
._text-darkviolet { color: #4a4f70; }
._text-gray { color: #888; }
._text-lightblue { color: #58d0f3; }
._text-badass { color: #b2d81f; }

._bg-white  { background: #fff; }
._bg-black  { background: #1b3138; }
._bg-red    { background: #dc5562; }
._bg-cyan   { background: #11a8ab; }
._bg-blue   { background: #398de3; }
._bg-violet { background: #8e5cd4; }
._bg-orange { background: #faa33a; }
._bg-darkviolet { background: #4a4f70; }
._bg-lightblue { background: #58d0f3; }
._bg-badass { background: #b2d81f; }
._bg-gray { background: #555; }

._hover-white  { &:hover { color: #fff; } }
._hover-black  { &:hover { color: #1b3138; } }
._hover-red    { &:hover { color: #dc5562; } }
._hover-cyan   { &:hover { color: #11a8ab; } }
._hover-blue   { &:hover { color: #398de3; } }
._hover-violet { &:hover { color: #8e5cd4; } }
._hover-orange { &:hover { color: #faa33a; } }
._hover-lightblue { &:hover { color: #58d0f3; } }
._hover-badass { &:hover { color: #b2d81f; } }

/* отступы */
._mb0  { margin-bottom: 0 }
._mb5  { margin-bottom: 0.5rem }
._mb10 { margin-bottom: 1.0rem }
._mb15 { margin-bottom: 1.5rem }
._mb20 { margin-bottom: 2.0rem }
._mb25 { margin-bottom: 2.5rem }
._mb30 { margin-bottom: 3.0rem }
._mb35 { margin-bottom: 3.5rem }
._mb40 { margin-bottom: 4.0rem }
._mb45 { margin-bottom: 4.5rem }
._mb50 { margin-bottom: 5.0rem }
._mb55 { margin-bottom: 5.5rem }
._mb60 { margin-bottom: 6.0rem }
._mb65 { margin-bottom: 6.5rem }
._mb70 { margin-bottom: 7.0rem }
._mb75 { margin-bottom: 7.5rem }
._mb80 { margin-bottom: 8.0rem }
._mb85 { margin-bottom: 8.5rem }
._mb90 { margin-bottom: 9.0rem }
._mb95 { margin-bottom: 9.5rem }
._mb100 { margin-bottom: 10rem }


/* ----------------------------- Общие стили --------------------------*/

/* сообщение об отключенном JS или старом браузере */
noscript,
#old_browser { font-size: 14px; position:absolute; left:0; top:0; width:100%; z-index:9999; text-align:center; background:#cc0000; color:white; }
#old_browser { display: none; }
#old_browser b { float:right; padding: 0 10px; cursor: pointer; font-size: 32px; font-weight: normal; }

a 		{ color: #000; text-decoration: none; outline: none !important; }
a:hover { color: #606480; text-decoration: none; }
a:focus { color: #606480; text-decoration: none; }

h2,
.h2 {
	/*color: #2e303c;*/
	font-size: 2.8rem;
	line-height: 2.8rem;
	font-weight: 400;
	a { color: inherit }
}

h3,
.h3 {
	/*color: #2e303c;*/
	font-size: 2.0rem;
	line-height: 2.4rem;
	font-weight: 600;
}

b,
strong {
	font-weight: 500; /* Medium */
}

p {
	margin-bottom: 1.7rem;
}

small {
	font-size: 75%;
}

mark {
	background: none;
}

/* ----------------------------- Структура --------------------------*/

/*
	body
		viewport				вся видимая часть
			nav					боковая панель
			content				основная панель
				header			шапка
				main			содержимое вьюхи

*/

body {
	min-width: 320px;
	background: #272936;
	color: #1b3138;
	font-family: 'Open Sans', 'Trebuchet MS', sans-serif;

	&._iframe {
		background: none;
	}
}

.b-header {
	background: #4a4f70;
	color: #fff;
}

.b-title._videoheader {
  position: relative;
  background: none;
}

.b-title__videoheader {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.b-viewport {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	min-width: 320px;
}

/* перехватчик кликов при открытом сайдбаре (см. modules/photo.js) */
.b-viewport._nav-open #content:before {
	display: none;
	content: "";
	position: absolute;
	z-index: 101;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: transparent;
}

.b-viewport._nav-open #photo_popup:before {
	display: none;
	content: "";
	position: absolute;
	z-index: 101;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: transparent;
}


@nav-width: 78%;

.b-nav {
	position: absolute;
	
	left: -@nav-width;
	width: @nav-width;
	height: 100%;
	background: #303349;
	background: rgba(48,51,73,0.9);
	color: #fff;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	transition: left 0.5s cubic-bezier(0.23, 1, 0.32, 1);
	// box-shadow: -0.1rem 0 0.3rem #111 inset;
}

@media screen and (max-width: 1023px) {
	.b-nav { z-index: 102; } // перекрыть overlay 
	.b-viewport._nav-open #content:before,
	.b-viewport._nav-open #photo_popup:before {
		display: block;
	}
}

.b-content {
	background: transparent;
	position: relative;
	left: 0;
	width: 100%;
	height: 100%;
	transition: left 0.5s cubic-bezier(0.23, 1, 0.32, 1);
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

#main-content {
	min-height: 100%;
	padding-bottom: 20rem;
	padding-top: 5.5rem;
}

@media screen and (max-width: 767px) { #main-content { padding-top: 0 } }

main {
	width: 100%;
	height: 100%;
	overflow: auto;
	position: relative;
	-webkit-overflow-scrolling: touch;
	box-sizing: border-box;
	font-size: 1.4rem;
}

.b-nav-button {
	display: block;
	width: 5.5rem;
	height: 5.5rem;
	// background: rgba(255,255,255,0.1);
	position: absolute;
	right: 0;
	z-index: 102; // перекрыть overlay
	i.fa { color: #fff !important; }
	font-size: 3rem;
	line-height: 5.5rem;
	text-align: center;
	text-shadow: 1px 1px 1px #111;
	cursor: pointer;
}

/* Когда открыта боковая панель */
.b-viewport._nav-open .b-nav     { left: 0; }
.b-viewport._nav-open .b-content { left: @nav-width; }

/* когда боковая панель должна быть постоянно открыта */
@media screen and (min-width: 1024px) {
	.b-nav     { left: 0; width: 100% - @nav-width; box-shadow: -0.1rem 0 0.5rem rgba(0,0,0,0.1) inset; }
	.b-content { left: 100% - @nav-width !important; width: @nav-width; box-shadow: none; }
	.b-nav-button { display: none !important; }
}

.container-fluid {
	max-width: 1200px;
}

/* затемняющая шторка */
.b-overlay {
	position: absolute;
	z-index: 101; // 100 = .ui-front
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	overflow: auto;
	-webkit-overflow-scrolling:touch
}

i.fa.fa-small { font-size: 1rem !important; }