@import "../default/mixins.less";
@import "../../fonts/stylesheet.css";


/* Демо-страница (начало) */



/*-------------------------------------- 320 --------------------------------------*/

body.page-demo
{
	font-family: 'pt_sans', Helvetica, Arial, sans-serif;

	h1
	{
		padding: 20px;
		text-align: center;
	}

	h2
	{
		margin-bottom: 10px;
	}

	section.demo
	{
		//.inline-block(top);
		border: 1px solid #eee;
		padding: 20px;
		//overflow: hidden;

		&.line
		{
			.inline-block(top);
		}
	}

	.js-fullscreen
	{
		background: #fed;
	}

	.jcarousel-wrapper
	{
		display: inline-block;
		margin: 30px;
		background: #bbb;
		color: white;
		font-size: 20px;

		li { text-align: center; }
	}


	.owl-item-wrapper
	{
		height: 200px;
		line-height: 200px;
		background: #ccc;
		color: white;
		font-size: 32px;
		text-align: center;
	}

	.owl-carousel-1 .owl-item-wrapper { width: 300px }


	.form-fields > li
	{
		margin: 10px 0;

		label
		{
			vertical-align: middle;

			&:first-child
			{
				.inline-block(middle);
				width: 200px;
				padding: 0 8px;
				text-align: right;
			}

			&.error
			{
				color: #a00;
			}
		}

		input
		{
			vertical-align: middle;
			margin-right: 8px;
			&[type=checkbox] { margin-right: 0 }

			&.error
			{
				outline: 1px solid #c00;
			}
		}
	}
}
















/*-------------------------------------- 480 --------------------------------------*/
@media screen and (min-width: 480px)
{
	
}







/*-------------------------------------- 768 --------------------------------------*/
@media screen and (min-width: 768px) 
{
	
}







/*-------------------------------------- 1024 -------------------------------------*/
@media screen and (min-width: 1024px)
{
	
}



/* Демо-страница (конец) */