/* Демо-страница (начало) */
/*-------------------------------------- 320 --------------------------------------*/
body.page-demo {
  font-family: 'pt_sans', Helvetica, Arial, sans-serif;
}
body.page-demo h1 {
  padding: 20px;
  text-align: center;
}
body.page-demo h2 {
  margin-bottom: 10px;
}
body.page-demo section.demo {
  border: 1px solid #c8c8c8;
  padding: 20px;
}
body.page-demo section.demo.line {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 5px;
}
body.page-demo .js-fullscreen {
  background: #fed;
}
body.page-demo .demo-centering-the-unknown {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 0;
}
body.page-demo .demo-centering-the-unknown:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
body.page-demo .demo-centering-the-unknown > * {
  display: inline-block;
  vertical-align: middle;
  font-size: medium;
}
body.page-demo .jcarousel-wrapper {
  display: inline-block;
  margin: 30px;
  background: #bbb;
  color: white;
  font-size: 20px;
}
body.page-demo .jcarousel-wrapper li {
  text-align: center;
}
body.page-demo .owl-item-wrapper {
  height: 200px;
  line-height: 200px;
  background: #ccc;
  color: white;
  font-size: 32px;
  text-align: center;
  -webkit-box-shadow: 0 0 10px #888888 inset;
  -moz-box-shadow: 0 0 10px #888888 inset;
  box-shadow: 0 0 10px #888888 inset;
}
body.page-demo .owl-carousel-1 .owl-item-wrapper {
  width: 300px;
}
body.page-demo .form-fields > li {
  margin: 10px 0;
}
body.page-demo .form-fields > li label {
  vertical-align: middle;
}
body.page-demo .form-fields > li label:first-child {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  line-height: 25px;
  padding: 0 8px;
  text-align: right;
}
body.page-demo .form-fields > li label.error {
  color: #b00;
}
body.page-demo .form-fields > li input,
body.page-demo .form-fields > li textarea {
  width: 200px;
  vertical-align: middle;
  margin-right: 8px;
}
body.page-demo .form-fields > li select {
  min-width: 100px;
  max-width: 300px;
}
body.page-demo .form-fields > li input[type=checkbox],
body.page-demo .form-fields > li input[type=radio] {
  width: auto;
  margin-right: 0;
  margin-top: -3px;
}
body.page-demo .form-fields > li input.error,
body.page-demo .form-fields > li textarea.error,
body.page-demo .form-fields > li select.error {
  -webkit-box-shadow: 0 0 0 1px #ff0000;
  -moz-box-shadow: 0 0 0 1px #ff0000;
  box-shadow: 0 0 0 1px #ff0000;
}
body.page-demo .NFI-wrapper {
  padding-bottom: 4px;
}
body.page-demo .NFI-filename {
  margin-left: -5px;
  padding-left: 10px;
  border: 0;
  line-height: 32px;
}
/*-------------------------------------- 480 --------------------------------------*/
/*-------------------------------------- 768 --------------------------------------*/
/*-------------------------------------- 1024 -------------------------------------*/
/* Демо-страница (конец) */
