@import "../default/mixins.less";
@import "../../fonts/stylesheet.css";


/* Демо-страница (начало) */



/*-------------------------------------- 320 --------------------------------------*/

 

.use-tinyscrollbar();

.use-action-button();

.use-jcarousel(200px, 100px);


section.demo
{
	//.inline-block(top);
	font-family: 'pt_sans', Helvetica, Arial, sans-serif;
	border: 1px solid #eee;
	padding: 20px;
}


.jcarousel-wrapper
{
	float: left;
	margin: 30px;
	background: #eee;
}





/*-------------------------------------- 480 --------------------------------------*/
@media screen and (min-width: 480px)
{
	
}







/*-------------------------------------- 768 --------------------------------------*/
@media screen and (min-width: 768px) 
{
	
}







/*-------------------------------------- 1024 -------------------------------------*/
@media screen and (min-width: 1024px)
{
	
}



/* Демо-страница (конец) */