@import "../../fonts/stylesheet.css";
/* Демо-страница (начало) */
/*-------------------------------------- 320 --------------------------------------*/
body.demo {
  font-family: 'pt_sans', Helvetica, Arial, sans-serif;
}
body.demo h1 {
  padding: 20px;
  text-align: center;
}
section.demo {
  border: 1px solid #eee;
  padding: 20px;
  overflow: hidden;
}
section.demo.line {
  display: inline-block;
  vertical-align: top;
}
.js-fullscreen {
  background: #fed;
}
.jcarousel-wrapper {
  display: inline-block;
  margin: 30px;
  background: #eee;
  color: white;
  font-size: 20px;
}
.jcarousel-wrapper li {
  text-align: center;
}
.owl-item-wrapper {
  height: 200px;
  line-height: 200px;
  background: #ccc;
  color: white;
  font-size: 32px;
  text-align: center;
}
.owl-carousel-1 .owl-item-wrapper {
  width: 300px;
}
.form-fields > li {
  margin: 10px 0;
}
.form-fields > li label {
  vertical-align: middle;
}
.form-fields > li label:first-child {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  padding: 0 8px;
  text-align: right;
}
.form-fields > li input {
  vertical-align: middle;
  margin-right: 8px;
}
.form-fields > li input[type=checkbox] {
  margin-right: 0;
}
/*-------------------------------------- 480 --------------------------------------*/
/*-------------------------------------- 768 --------------------------------------*/
/*-------------------------------------- 1024 -------------------------------------*/
/* Демо-страница (конец) */
