/* общие стили (начало) */
/*-------------------------------------- 320 --------------------------------------*/
a {
  color: #0000ff;
  text-decoration: underline;
}
a:visited {
  color: #0000ff;
}
a:hover {
  color: #4d4dff;
}
a:active {
  color: #9999ff;
}
/*-------------------------------------- 480 --------------------------------------*/
/*-------------------------------------- 768 --------------------------------------*/
/*-------------------------------------- 1024 -------------------------------------*/
/* общие стили (конец) */
