/*
----------------------- Универсальные модификаторы (начало) -----------------*/
._hidden {
  display: none;
}
._clearfix:after {
  clear: both;
  content: "";
  display: block;
  width: 100%;
}
._float-right {
  float: right;
}
._float-left {
  float: left;
}
._underline {
  text-decoration: underline;
}
._uppercase {
  text-transform: uppercase;
}
/*--------------------- Универсальные модификаторы (конец) --------------------
*/
/*
----------------------------- Общие стили (начало) --------------------------*/
html {
  font-size: 10px;
}
body {
  font-family: sans-serif;
}
h1,
.h1 {
  font-size: 48px;
  margin-bottom: 0;
}
h2,
.h2 {
  font-size: 32px;
  margin-bottom: 0;
}
h3,
.h3 {
  font-size: 16px;
  margin-bottom: 0;
}
a {
  color: #0000ff;
  text-decoration: underline;
}
a:hover {
  color: #4d4dff;
}
a:active {
  color: #9999ff;
}
.b-section {
  padding: 0;
}
.b-section._no-padding-top {
  padding-top: 0;
}
.b-section._no-padding-bottom {
  padding-bottom: 0;
}
/*-------------------------------------- 320 --------------------------------------*/
/*-------------------------------------- 480 --------------------------------------*/
/*-------------------------------------- 768 --------------------------------------*/
/*-------------------------------------- 1024 -------------------------------------*/
/*----------------------------- Общие стили (конец) ---------------------------
*/
/*
----------------------- Стили структурных блоков (начало) -------------------*/
/*--------------------- Стили структурных блоков (конец) ----------------------
*/
/*
----------------------- Индивидуальные стили страниц (начало) ---------------*/
/*--------------------- Индивидуальные стили страниц (конец) ----------------
*/
